.about_us {
    overflow-x: hidden;
}

.about_section_left_image {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 0;
}

.about_section_right_image {
    position: absolute;
    top: -50px;
    right: 20px;
    z-index: 0;
}

.about_section_bottom_image {
    position: absolute;
    bottom: 0px;
    right: 50px;
    z-index: 0;
    opacity: 0.5;
    width: 200px;
    height: auto;
}

.about_us_banner {
    position: relative;
    text-align: center;
    padding: 100px 20px;
}

.about_us_banner h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin-bottom: 20px;
    color: var(--bg-white);
}

.about_us_banner p {
    color: var(--color-grey-primary);
    margin-bottom: 30px;
    line-height: 1.6;
}

.about_us_story {
    padding: 0 5%;
}

.about_us_story h3 {
    text-align: center;
    font-family: var(--font-heading);
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: var(--color-gold-primary);
}

.about_us_story_content {
    display: flex;
    gap: 50px;
    align-items: center;
}

.about_us_story_content_text {
    flex: 1;
    border-left: 2px solid var(--color-gold-primary); 
    padding-left: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_us_story_content_text p {
    margin-bottom: 20px;
    color: var(--color-grey-primary);
    line-height: 1.8;
}

.about_us_story_content_text span {
    color: var(--color-gold-primary);
    font-weight: bold;
}

.story_line {
    width: 80px;
    height: 2px;
    background: var(--color-gold-primary);
    margin: 30px auto; 
    display: block;
}

@media (max-width: 992px) {

}

.about_us_story_content_img {
    flex: 1;
}

.about_us_story_content_img img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.about_us_why_choose {
    position: relative;
    background-color: var(--color-black-secondary);
    padding: 80px 10%;
    text-align: center;
}

.about_us_why_choose_left_image {
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 0;
    width: 250px;
    height: auto;
}

.about_us_why_choose_right_image {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    width: 200px;
    height: auto;
}

.about_us_why_choose_content {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.about_us_why_choose_content_item {
    flex: 1;
    background-color: #1e1e1e;
    padding: 40px 20px;
    border: 1px solid #333;
    transition: transform 0.3s ease;
}

.about_us_why_choose_content_item:hover {
    transform: translateY(-10px);
    border-color: var(--color-gold-primary);
}

/* .about_us_why_choose_content_item div {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.about_us_why_choose_content_item div {
    background-color: color-mix(in srgb, var(--color-gold-primary), transparent 70%);    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    position: relative;
    overflow: hidden;
}

.about_us_why_choose_content_item div img {
    width: 30px; 
    height: auto;
    align-items: center;
    display: block; 
}

.about_us_why_choose_content_item h4 {
    font-family: var(--font-heading);
    margin-bottom: 15px;
    color: var(--bg-white);
}

.about_achivement {
     padding: 5% 5%;
    background: var(--bg-gold-metallic);
    color: var(--color-black-primary);
}

.about_achivement_content {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about_achivement_content div img {
    height: 50px;
    width: 50px;
}

.about_achivement_content p {
    font-size: 2.5rem;
    font-weight: 800;
}

.about_achivement_content span {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 992px) {
    .about_us_story_content, 
    .about_us_why_choose_content {
        flex-direction: column;
    }
    
    .about_us_story_content_text, 
    .about_us_story_content_img {
        width: 100%;
    }

    .about_us_story_content_text {
        display: flex;
        align-items: center;
        margin-top: 0px;
        border-left: 0px;
        padding-left: 0px;
    }

    .about_achivement_content {
        flex-direction: column;
        gap: 40px;
    }
 
    .story_line {
        margin: 30px auto; 
    }

    .about_us_why_choose_left_image {
        width: 200px;
    }

    .about_us_why_choose_right_image {
        width: 200px;
    }
}