.contact-container {
    background-color: #18181A;
    color: #FFFFFF;
    overflow-x: hidden;
}

.contact-header {
    position: relative;
    text-align: center;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header h1 {
    font-family: var(--font-heading);
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin-bottom: 15px;
    z-index: 2;
}

.header-line {
    width: 80px;
    height: 3px;
    background: var(--bg-gold-metallic);
    margin-bottom: 20px;
    z-index: 2;
}

.contact-header p {
    color: var(--color-grey-primary);
    max-width: 600px;
    z-index: 2;
}

.contact-bg-dots {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 150px;
    opacity: 0.5;
    z-index: 1; 
}

.contact-bg-blob-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    z-index: 1;
}

.contact-bg-header-left {
    position: absolute; 
    bottom: 30%;
    left:15%;
    width: 150px; 
    z-index: 1;
}

.contact-bg-shape-left { 
    position: absolute; 
    bottom: 20%;
    left:30%;     
    width: 50px; 
    z-index: 1;
}

.contact-bg-bottom-right {
    position: absolute;
    bottom: 10%;
    right: 20px;
    width: 180px;
    opacity: 0.3;
    z-index: 1; 
}

.contact-content {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 4%;
    padding: 8% 5% 8% 5%;
    position: relative;
    z-index: 2;
    background-color: var(--color-black-secondary); 
    border-radius: 12px;
}

.contact-query-right {
    position: absolute;
    bottom: 0%;
    right: 20px;
    width: 150px;
    z-index: 1; 
}

.contact-query-bottom-right {
    position: absolute;
    bottom: 0px;
    right: 25%;
    width: 350px;
    /* opacity: 0.3; */
    z-index: 1; 
}

.contact-card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #D4AF374D;
    border-radius: 8px;
    padding: 6% 8%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.section-title {
    color: var(--color-gold-primary);
    font-family: var(--font-heading);
    font-size: 36px;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.contact-form textarea {
    resize: vertical;
    min-height: 120px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background-color: #1C1C1C80;
    border: 1px solid #D4AF3766;
    border-radius: 6px;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid #444; 
    background-color: #2e2e2e; 
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #ADAEBC;
}

.submit-btn {
    background: var(--bg-gold-metallic);
    color: #000;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}

.contact-info-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.icon-box {
    background-color: color-mix(in srgb, var(--color-gold-primary), transparent 85%);
    color: var(--color-gold-primary);
    min-width: 50px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content p {
    font-size: 16px;
    font-weight: 400;
    color: #D1D5DB;
}

.find_us_on_map {
    position: relative;
    text-align: center;
    padding: 5% 5% 8% 5%;
}

.map-tirangle-image {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 50px;
    /* opacity: 0.3; */
    z-index: 1; 
}

.map-circle-image {
    position: absolute;
    bottom: 30%;
    right: 0%;
    width: 50px;
    /* opacity: 0.3; */
    z-index: 1; 
}

.map-bottom-image {
    position: absolute;
    bottom: -100px;
    left: 20%;
    width: 300px;
    /* opacity: 0.3; */
    z-index: 1; 
}

.find_us_on_map h2 {
    color: var(--color-gold-primary);
    margin-bottom: 30px;
}

.map-wrapper {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    overflow: hidden;
}

.map-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.printing_service {
    background: var(--bg-gold-metallic);
    padding: 3% 5%;
    text-align: center;
    color: #18181A;
}

.printing_service p { font-size: 1.2rem; font-weight: 600; }
.printing_service span { font-weight: 400; }

@media (max-width: 992px) {
    .contact-content { grid-template-columns: 1fr; gap: 40px; }
    .form-row { flex-direction: column; gap: 20px; }
    .printing_service {
        margin: 0 5% 20px 5%;
        border-radius: 12px;
    }

    .contact-query-bottom-right,
    .contact-query-right,
    .contact-bg-dots,
    .contact-bg-shape-left {
        width: 0;
    }

    .contact-bg-header-left {
        left: -50px;
    }

    .contact-bg-blob-top {
        top: 40%;
        right: -50px;
    }
}