@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --color-black-primary: #18181A;
  --color-black-secondary: #2C2C2C;
  --color-gold-primary: #D4AF37;
  --color-grey-primary: #9CA3AF;

  --bg-white: #F5F3EB;
  --bg-gray-light: #D1D5DB;

  --bg-gold-gradient: linear-gradient(45deg,
      #FFD700 50%,
      #FFA500 120.71%);

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Montserrat', sans-serif;

  --font-weight-regular: 400;

  --font-primary: 'Poppins', sans-serif;
  --font-weight-medium: 500;
  --font-size-base: 16px;
  --line-height-base: 1;
  --letter-spacing-base: 0;
}

html {
  scroll-behavior: smooth;
}

h1{
  font-family: var(--font-heading);
}

p{
  font-family: var(--font-primary);
}

.btn-primary {
  position: relative;
  background: transparent;
  color: var(--color-black-secondary);
  padding: 10px 18px;
  border-radius: 8px;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  border: 2px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}


.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-gold-gradient);
  z-index: -1;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.btn-primary:hover {
  color: var(--color-gold-primary);
  border-color: var(--color-gold-primary);
  box-shadow: none;
}

.btn-primary:hover::before {
  opacity: 0;
}


.btn-secondary {
  position: relative;
  background: transparent;
  color: var(--bg-white);
  padding: 10px 18px;
  border-radius: 8px;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  border: 2px solid var(--bg-white);
  transition: color 0.3s ease, border-color 0.3s ease;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-white);
  z-index: -1;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.btn-secondary:hover {
  color: var(--color-black-secondary);
  border-color: transparent;
}

.btn-secondary:hover::before {
  opacity: 1;
}

.btn-tertiary {
  position: relative;
  background: transparent;
  color: var(--color-gold-primary);
  padding: 10px 18px;
  border-radius: 8px;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  border: 2px solid var(--color-gold-primary);
  transition: color 0.3s ease, border-color 0.3s ease;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.btn-tertiary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-gold-primary);
  z-index: -1;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.btn-tertiary:hover {
  color: var(--color-black-secondary);
  border-color: transparent;
}

.btn-tertiary:hover::before {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-black-primary);
  color: var(--bg-white);
}